.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block; /* Ensures proper containment */
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;  /* Allow the width to adjust based on content */
  max-width: 300px;  /* Optional: limit the max width of the tooltip */
  padding: 10px; /* Space around the text */
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  bottom: 135%; /* Adjust positioning as needed */
  left: 50%;
  margin-left: -150px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s; /* Add delay to visibility transition */
  word-wrap: break-word; /* Ensure long words break correctly to fit in the box */
  font-size: 18px;
}

/* Create an invisible area between the word and tooltip */
.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust this height as needed to bridge the gap */
  background: transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  font-weight: normal;
  transition-delay: 0s; /* Remove delay on showing */
}

/* Make the tooltip persist for a while after leaving the hover state */
.tooltip:not(:hover) .tooltip-text {
  transition: opacity 1s, visibility 0s 1s; /* Longer delay before hiding */
}

/* Nouns - Pink */
.tooltip.noun {
  color: hotpink;
}

.tooltip.noun a {
  color: hotpink;
}

.tooltip.noun a:hover {
  font-weight: bold;
}

/* Verbs - Orange */
.tooltip.verb {
  color: orange;
}

.tooltip.verb a {
  color: orange;
}

.tooltip.verb a:hover {
  font-weight: bold;
}

/* Adjectives - Green */
.tooltip.adj {
  color: green;
}

.tooltip.adj a {
  color: green;
}

.tooltip.adj a:hover {
  font-weight: bold;
}

/* Adverbs - Green */
.tooltip.adv {
  color: green;
}

.tooltip.adv a {
  color: green;
}

.tooltip.adv a:hover {
  font-weight: bold;
} 

/* Proper Nouns - Blue */
.tooltip.proper {
  color: purple;
}

.tooltip.proper a {
  color: purple;
}

.tooltip.proper a:hover {
  font-weight: bold;
}


/* Spinner CSS */
.spinner {
  border: 4px solid #f3f3f3; /* Light grey background */
  border-top: 4px solid #486Cff; /* Blue spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Spinning animation */
  margin: auto;
}

/* Animation for spinning */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}